<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PetHotel</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUsersByIdServlet</display-name>
    <servlet-name>FindUsersByIdServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.FindUsersByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUsersByIdServlet</servlet-name>
    <url-pattern>/FindUsersByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUsersServlet</display-name>
    <servlet-name>UpdateUsersServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.UpdateUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUsersServlet</servlet-name>
    <url-pattern>/UpdateUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSharePostsServlet</display-name>
    <servlet-name>AddSharePostsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.AddSharePostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSharePostsServlet</servlet-name>
    <url-pattern>/AddSharePostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPostsServlet</display-name>
    <servlet-name>ShowPostsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.ShowPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPostsServlet</servlet-name>
    <url-pattern>/ShowPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSenderPostsServlet</display-name>
    <servlet-name>AddSenderPostsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.AddSenderPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSenderPostsServlet</servlet-name>
    <url-pattern>/AddSenderPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyDealServlet</display-name>
    <servlet-name>ApplyDealServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.ApplyDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyDealServlet</servlet-name>
    <url-pattern>/ApplyDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllPetsByUidServlet</display-name>
    <servlet-name>FindAllPetsByUidServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.FindAllPetsByUidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllPetsByUidServlet</servlet-name>
    <url-pattern>/FindAllPetsByUidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyServlet</display-name>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/ApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmDealServlet</display-name>
    <servlet-name>ConfirmDealServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.ConfirmDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmDealServlet</servlet-name>
    <url-pattern>/ConfirmDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTradeStatusServlet</display-name>
    <servlet-name>UpdateTradeStatusServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.UpdateTradeStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTradeStatusServlet</servlet-name>
    <url-pattern>/UpdateTradeStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TradeRefuseServlet</display-name>
    <servlet-name>TradeRefuseServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.TradeRefuseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeRefuseServlet</servlet-name>
    <url-pattern>/TradeRefuseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTradePostsServlet</display-name>
    <servlet-name>AddTradePostsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.AddTradePostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTradePostsServlet</servlet-name>
    <url-pattern>/AddTradePostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPetsServlet</display-name>
    <servlet-name>AddPetsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.AddPetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPetsServlet</servlet-name>
    <url-pattern>/AddPetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllPetsServlet</display-name>
    <servlet-name>FindAllPetsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.FindAllPetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllPetsServlet</servlet-name>
    <url-pattern>/FindAllPetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdPetsServlet</display-name>
    <servlet-name>FindByIdPetsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.FindByIdPetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdPetsServlet</servlet-name>
    <url-pattern>/FindByIdPetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePetsServlet</display-name>
    <servlet-name>UpdatePetsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.UpdatePetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePetsServlet</servlet-name>
    <url-pattern>/UpdatePetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePetsServlet</display-name>
    <servlet-name>DeletePetsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.DeletePetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePetsServlet</servlet-name>
    <url-pattern>/DeletePetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendReplyServlet</display-name>
    <servlet-name>SendReplyServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.SendReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendReplyServlet</servlet-name>
    <url-pattern>/SendReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOtherUserServlet</display-name>
    <servlet-name>ShowOtherUserServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.ShowOtherUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOtherUserServlet</servlet-name>
    <url-pattern>/ShowOtherUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTradesServlet</display-name>
    <servlet-name>ShowTradesServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.ShowTradesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTradesServlet</servlet-name>
    <url-pattern>/ShowTradesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyCancelServlet</display-name>
    <servlet-name>ApplyCancelServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.ApplyCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyCancelServlet</servlet-name>
    <url-pattern>/ApplyCancelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealEndServlet</display-name>
    <servlet-name>DealEndServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.DealEndServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealEndServlet</servlet-name>
    <url-pattern>/DealEndServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenTradeServlet</display-name>
    <servlet-name>HiddenTradeServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.HiddenTradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenTradeServlet</servlet-name>
    <url-pattern>/HiddenTradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPostsServlet</display-name>
    <servlet-name>SearchPostsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.SearchPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPostsServlet</servlet-name>
    <url-pattern>/SearchPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreSearchPostsServlet</display-name>
    <servlet-name>PreSearchPostsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.PreSearchPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreSearchPostsServlet</servlet-name>
    <url-pattern>/PreSearchPostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendByIdServlet</display-name>
    <servlet-name>AddFriendByIdServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.AddFriendByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendByIdServlet</servlet-name>
    <url-pattern>/AddFriendByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendsServlet</display-name>
    <servlet-name>AddFriendsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.AddFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendsServlet</servlet-name>
    <url-pattern>/AddFriendsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DeleteFriendsServlet</display-name>
    <servlet-name>DeleteFriendsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.DeleteFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriendsServlet</servlet-name>
    <url-pattern>/DeleteFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendFriendsServlet</display-name>
    <servlet-name>RecommendFriendsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.RecommendFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendFriendsServlet</servlet-name>
    <url-pattern>/RecommendFriendsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DeletePostsServlet</display-name>
    <servlet-name>DeletePostsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.DeletePostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostsServlet</servlet-name>
    <url-pattern>/DeletePostsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>PlusAppServlet</display-name>
    <servlet-name>PlusAppServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.PlusAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlusAppServlet</servlet-name>
    <url-pattern>/PlusAppServlet</url-pattern>
  </servlet-mapping>
 
   <servlet>
    <description></description>
    <display-name>AddReceivePostsServlet</display-name>
    <servlet-name>AddReceivePostsServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.AddReceivePostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReceivePostsServlet</servlet-name>
    <url-pattern>/AddReceivePostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreRegisterServlet</display-name>
    <servlet-name>PreRegisterServlet</servlet-name>
    <servlet-class>org.cpu.pethotel.servlet.PreRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreRegisterServlet</servlet-name>
    <url-pattern>/PreRegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>